* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
  /* Added smooth transition to all properties */
}

html {
  scroll-behavior: smooth;
}

.owner {
  display: flex;
}

.owner a {
  padding-left: 30px;
}

.owner img {
  width: 45px;
  height: 45px;
  position: absolute;
  border-radius: 50%;
  margin-top: 12px;
}

body {
  background-color: #f8f9fa;
}

:root {
  --maincolor: rgb(255, 203, 4);
}


.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 9999;
}

.empty {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 9999;
}





.Line {
  border: 1px solid var(--maincolor) !important;
  width: 100% !important;
  overflow: visible;
}

::-webkit-scrollbar {
  width: 1px;
  background-color: rgb(255, 203, 4);
  border-radius: 5px;
  transition: width 0.3s ease;
  /* Added smooth transition to scrollbar width */
}

section {
  padding: 2rem 7%;
  transition: padding 0.3s ease;
  /* Added smooth transition to padding */
}

.navbar {
  background-color: rgb(255, 203, 4);
}

.logo {
  font-weight: bolder;
  font-size: 30px;
}

/* .navbar-nav .nav-link:last-child {
  margin-right: 50px;
} */
.navbar-nav .nav-link {
  font-size: 22px;
}



.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: red;
  color: #fff;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


/* Search Field */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin-left: 80px;
  background-color: #f8f9fa;
}

.search-box {
  position: relative;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 300px;
  /* Initial width for larger screens */
}

.search-box input[type="text"] {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 30px;
  width: 100%;
  /* Fill the container width */
}

.search-box button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.search-box button i {
  font-size: 16px;
  color: #777;
}


/* Media query for responsive design */
@media screen and (max-width: 600px) {
  .search-box {
    width: 80%;
  }

  .search-box input[type="text"]:focus {
    width: 100%;
  }

}

.highlighted {
  background-color: rgb(235, 195, 35);
  font-weight: bold;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}

/* Slider on home page */
.home {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  margin-top: 15px;
}

.home img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-left: 0px !important;
  border-radius: 5px;
  box-shadow: 15px 5px 5px #ebe8e8;
}

/* For Dashboard */
.dashboard-content .row .col-lg-2 {
  flex: 0 0 calc(50% - 20px);
  margin-left: 10px;
}


/* Home Section */
.dashboard {
  height: 100%;
  width: 100%;
  background-color: #f8f9fa;
}

.dashboard-menu {
  display: flex;
  position: sticky;
  top: 0;
  padding: 1rem 0;
  padding-top: 20px;
  padding-left: 100px;
  justify-content: flex-start;
  overflow-x: auto;
  z-index: 100;
  background-color: #f8f9fa;
  transition: all 0.3s ease;
}

.menu-container {
  display: flex;
  flex-wrap: nowrap;
  /* Prevent wrapping of buttons */
  gap: 20px;
  /* Adjust the gap between buttons as desired */
  /* Set a specific width to allow overflow */
  width: 1000px;
  margin-left: 120px;
  justify-content: space-between;
  overflow-x: scroll;
  width: calc(6 * (160px + 40px));
  /* (button width + gap) * number of buttons */

}

.dashboard-menu .menu-btn {
  text-decoration: none;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 20px;
  font-weight: 500;
  min-width: 150px;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  color: black;
  background-color: #f8f9fa;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}


.dashboard-menu .menu-btn.active,
.dashboard-menu .menu-btn:hover {
  font-weight: bold;
  background-color: rgb(255, 203, 4);
  color: #000;
}


.menu-container::-webkit-scrollbar {
  width: 5px;
  /* Set the width of the scrollbar */
  height: 11px;
}

.menu-container::-webkit-scrollbar-thumb:horizontal {
  background-color: #888;
  /* Set the color of the scrollbar thumb */
  border-radius: 25px;
  /* Set the border radius of the scrollbar thumb */
}




/* Card Items */

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-left: 10px;
  margin-right: 20px;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}

.dashboard-content .row .col-lg-2 {
  flex: 0 0 calc(50% - 20px);
  margin-left: 0px !important;
  margin-right: 0px !important;
}


.dashboard-card {
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.3s ease;
}






/* Media Queries */
@media (max-width:2000px) {
  .food-item {
    flex: 0 0 40.33333%;
    max-width: 15.33333%;
    margin-top: 20px;
  }

  .menu-container {
    margin-left: 50px;
    width: calc(7 * (140px + 40px));
    /* (button width + gap) * number of buttons */
  }

  .home img {
    margin-left: 155px;
    width: 1250px;
  }

  .search {
    margin-left: 150px;
  }

}


/* 1500 Width */

@media (max-width: 1500px) {
  .food-item {
    flex: 0 0 20.33333%;
    max-width: 15.33333%;
    margin-top: 10px;
  }

  .menu-container {
    margin-left: 28px;
    width: calc(6 * (150px + 40px));
    /* (button width + gap) * number of buttons */
  }

  .home img {
    margin-left: 125px;
    width: 1150px;
  }

}

@media (max-width: 1400px) {
  .home img {
    margin-left: 100px;
    width: 1150px;
  }

  .menu-container {
    margin-left: 0px;
    width: calc(6 * (150px + 40px));
    /* (button width + gap) * number of buttons */
  }
}


/* 1300 Width */
@media (max-width: 1300px) {
  .food-item {
    flex: 0 0 33.33333%;
    max-width: 22.33333%;
    margin-top: 10px;
  }

  .dashboard-menu {
    padding-left: 10px;
  }

  .menu-container {
    margin-left: 100px;
    width: calc(6 * (155px + 20px));
    /* (button width + gap) * number of buttons */
  }

  .home img {
    margin-left: 110px;
    width: 1060px;
  }


}

@media (max-width: 1200px) {
  .home img {
    margin-left: 80px;
    width: 900px;
  }

  .menu-container {
    margin-left: 80px;
    width: calc(5 * (140px + 40px));
    /* (button width + gap) * number of buttons */
  }
}

@media (max-width: 1050px) {
  .food-item {
    flex: 0 0 33.33333%;
    max-width: 31.33333%;
  }

  .menu-container {
    flex-wrap: wrap;
    /* Allow wrapping of buttons */
    justify-content: flex-start;
    /* Start from the beginning */
    overflow-x: auto;
    padding-left: 0;
    /* Reset the left padding */
    width: calc(4 * (160px + 40px));
    /* (button width + gap) * number of buttons */
    margin-left: 30px;
  }

  .dashboard-menu {
    padding-left: 50px;
  }

  .home img {
    margin-left: 70px;
    width: 800px;
  }

  .search {
    margin-left: 10px;
  }

}


@media (max-width: 880px) {

  .home img {
    margin-left: 40px;
    width: 700px;
  }

  .menu-container {
    margin-left: 0px;
    width: calc(4 * (130px + 40px));
    /* (button width + gap) * number of buttons */
  }

  .account {
    width: 400px;
  }

  .account a {
    margin-left: 40px;
  }


  .timing .time {
    text-align: center;
    margin-top: 32px !important;
  }

}

@media (max-width: 770px) {
  .menu-container {
    margin-left: 20px;
    padding-left: 0;
    /* Reset the left padding */
    width: calc(4 * (130px + 20px));
    /* (button width + gap) * number of buttons */
  }

  .home img {
    margin-left: 60px;
    width: 600px;
  }

  .signup-container {
    flex-direction: column;
  }

  .signup-form {
    order: 2;
  }

  .signup-image {
    order: 1;
    margin-top: 100px;
  }

  .signup-image img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0;
  }

  .signin-image {
    margin-top: 70px;
  }

  .signin-image img {
    width: 400px;
  }

  .social_link i {
    margin: 15px 15px 0px 10px !important;
  }

  .timing .time {
    text-align: center;
    margin-top: 32px !important;
  }
}

@media (max-width: 700px) {

  .home img {
    margin-left: 40px;
    width: 550px;
  }

  .menu-container {
    margin-left: 0px;
    width: calc(3 * (140px + 40px));
    /* (button width + gap) * number of buttons */
  }
}

@media (max-width: 600px) {
  .food-item {
    flex: 0 0 50%;
    max-width: 48%;
    margin-top: 20px;
  }

  .menu-container {
    flex-wrap: wrap;
    /* Allow wrapping of buttons */
    justify-content: flex-start;
    /* Start from the beginning */
    overflow-x: auto;
    padding-left: 0;
    /* Reset the left padding */
    width: calc(2 * (170px + 50px));
    /* (button width + gap) * number of buttons */
  }

  .home img {
    width: 450px;
    margin-left: 50px;
  }
}

@media (max-width: 500px) {
  .food-item {
    flex: 0 0 50%;
    max-width: 47%;
    margin-top: 20px;
    margin-right: 0px !important;
  }

  .card-detail .add-to-cart-btn {
    max-width: 92px;
    font-size: 12px;
  }

  .menu-container {
    margin-left: -2px;
    width: calc(2 * (140px + 30px));
    /* (button width + gap) * number of buttons */

  }

  .home img {
    margin-left: 0px;
    width: 330px;
  }

  .question {
    width: 360px;
  }

  .overlay-container .overlay-content {
    width: 300px;
  }

  .container .center-wrapper {
    margin-top: 30px;
  }

  .container .center-wrapper .container button {
    margin-top: 10px;
  }

  .search {
    margin-left: 0px;
  }

  .timing {
    margin-top: 36px;
  }

  .empty {
    width: 200px;
  }

  .account a {
    margin-top: -40px;
    font-weight: bold;
    margin-left: 40px;
    width: 300px;
  }

  .row .contact i {
    margin-left: -5px !important;

  }

  .timing .time {
    text-align: center;
    margin-top: -4px !important;
  }



  .Cart .Cart-detail .price {
    display: flex;
    flex-direction: row;
  }









}

@media (max-width:400px) {
  .menu-container {
    width: calc(2 * (120px + 20px));
    /* (button width + gap) * number of buttons */

  }

  .home img {
    margin-left: -10px;
    width: 300px;
  }

  .text-center .space {
    margin-left: 11px;
  }


}

@media (max-width: 300px) {
  .menu-container {
    flex-wrap: wrap;
    /* Allow wrapping of buttons */
    justify-content: flex-start;
    /* Start from the beginning */
    overflow-x: auto;
    padding-left: 0;
    /* Reset the left padding */
    width: calc(1 * (150px + 10px));
    /* (button width + gap) * number of buttons */
  }

  .home img {
    width: 250px;
    margin-left: -20px;
  }

  .question {
    width: 260px;
    margin-left: -10px;
  }

  .search {
    margin-left: -20px;
  }

  .foot {
    width: 260px;
    margin-left: -10px;
  }


  .account {
    margin-left: -50px;
    width: 300px;
  }

  .account a {
    margin-left: 20px;
  }

}


/* */

.dashboard-card:hover {
  border: 2px solid var(--maincolor);
}

.card-detail {
  position: relative;
  padding: 10px;
  height: 120px;
  /* Adjust the height as needed */
  overflow: auto;
}

.card-detail>h4 {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2.0em;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */

}

.card-image {
  width: 100%;
  height: 140px;
  padding: 10px;
  object-fit: cover;
  border-radius: 15px;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}


#B,
#p,
#d,
#b {
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 30px;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}


/* Add to Cart Button */

.see-detail {
  position: absolute;
  bottom: 8%;
  left: 50%;
  margin-top: 5px;
  transform: translateX(-50%);
  padding: 6px 8px;
  text-align: center;
  background-color: red;
  width: 110px;
  border-radius: 8px;
  color: white !important;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}

.btn.add-to-cart-btn {
  position: relative;
  left: 50%;
  font-size: larger;
  transform: translateX(-50%);
  margin: 20px 20px 20px 0;
  padding: 10px 10px;
  background-color: red;
  width: 150px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}


.btn.add-to-cart-btn:hover,
.see-detail:hover {
  background-color: var(--maincolor);
  color: black !important;
  font-weight: 700;
}

.btn.add-to-cart-btn:focus {
  outline: none;
}

.btn.add-to-cart-btn:active {

  background-color: #f3f85e;
}

/*   Cart Icon Container Code */
.cart-container {
  position: relative;
}

.cart-icon {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}

.cart-icon::after {
  content: attr(data-count);
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}


a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

a:hover {
  color: unset;
}


/* Styling for the overlay */
.overlay-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  z-index: 999;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 10px 0px 10px;
  background-color: #fff;
  border-radius: 15px;
  height: auto;
  /* Adjust the height as needed */
  width: 430px;
}

.overlay-close {
  position: absolute;
  top: 3px;
  right: 2px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.quantity-controls {
  display: flex;
  align-items: center;
  position: relative;
  top: -20px;
}

.quantity-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #f2f2f2;
  border: none;
  color: #555;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-btn:hover {
  background-color: #ddd;
}

.quantity {
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
}

h5 {
  font-weight: 550;
  font-size: 20px;
}

.checkbox-options {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.checkbox-options label {
  margin-bottom: 10px;
  display: flex;
  font-size: 18px;
  align-items: center;
}

.checkbox-options .option-text {
  margin-left: 10px;
}

.checkbox-options .option-price {
  margin-left: auto;
}

.checkbox-options input[type="checkbox"] {
  margin-right: 8px;
}

.overlay-content img {
  height: 150px;
  width: 250px;
  display: block;
  margin: auto;
  object-fit: cover;
  border-radius: 15px;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}

.overlay-content h4,
.overlay-content p {
  text-align: center;
  margin: 0 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}

.overlay-content p {
  font-weight: 500;
  margin-bottom: 2em;
  font-size: 14px;
  margin-top: 8px;
  color: #000;
}

.overlay-content h4 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
}

.price,
.subtotal,
.price-per-item {
  display: block;
  font-weight: 600;
  color: rgb(154, 28, 28);
  transition: all 0.3s ease;
  margin-top: 15px;
  text-align: right;
}







.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  /* Added backdrop-filter property to blur the content behind the overlay */
  z-index: 999;
  /* Ensure the overlay appears on top of other elements */
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}

/* Login Signup */

.login-container {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
  max-width: 400px;
  width: 90%;
  /* Set the width to 90% to center-align the container */
  position: relative;
}

.login-container h3 {
  font-size: 25px;
  font-weight: bold;
}

.login-container p {
  font-size: 18px;
}

.close-button {
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 22px;
  border: none;
  width: 31px;
  border-radius: 10px;
  color: white;
  background-color: grey;
  cursor: pointer;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}

/* Hr Line */
.hr-container {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}

.left-hr,
.right-hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #000;
  margin: 0 10px;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}

.or-text {
  font-weight: bold;
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
  color: #999;
}


/* Buttons */
.login-button,
.signup-button {
  display: inline-block;
  padding: 10px 70px;
  background: rgb(212, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-decoration: none;
  border-radius: 25px;
  border: none;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  font-size: 16px;

}

.address-btn {
  display: block;
  padding: 8px 30px;
  background: rgb(212, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  border: none;
  margin-top: 20px;
  margin-left: 20px;
  transition: background-color 0.3s ease;
  font-size: 16px;

}

.login-button:hover,
.signup-button:hover {
  background-color: var(--maincolor);
  color: black;
  font-size: larger;
  transition: all 0.7s ease;
  text-decoration: none;
}


.shadow {
  max-width: 1100px;
}

.house {
  margin-left: 60px;
}

/* Sign up Form */
h1 {
  text-align: center;
  font-weight: bold;
  padding: 20px 0px 0px 0px;
}


.signup-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.signup-form {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group .input-group {
  display: flex;
  align-items: center;
}

.form-group .input-group button {
  display: block;
  height: 40px;
  background: rgb(88, 117, 219);
  width: 18%;
  border: none;
  border-radius: 5px;
  font-size: medium;
  font-weight: 200;
}

.signup-image {
  flex: 1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-image img {
  max-width: 70%;
  max-height: 60%;
  margin-top: -110px;
  border-radius: 15px;
}

.customer img {
  max-width: 90%;
  max-height: 90%;
  margin-top: -110px;
  border-radius: 15px;

}

.clogin img {
  max-width: 100%;
  max-height: 100%;
  margin-top: -110px;
  border-radius: 15px;

}

.signin-image {
  flex: 1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-image img {
  max-width: 70%;
  max-height: 70%;
  margin-top: -70px;
  border-radius: 15px;
}

.form-group {
  margin-bottom: 15px;
  margin-left: 30px;
  position: relative;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="tel"],
.form-group input[type="number"] {
  width: 90%;
  padding: 8px 8px 8px 50px;
  background-color: #f8f9fa;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
}

.form-group i {
  position: absolute;
  padding-left: 10px;
  top: 8px;
  left: 10px;
  color: black;
}

.form-group input:focus {
  outline: none;
  border-color: #4caf50;
}

.form-group label {
  margin-left: 20px;
  margin-top: -25px;
}

.signup {
  display: block;
  margin-left: 30px;
  width: 26%;
  padding: 10px;
  margin-top: 30px;
  border: none;
  background: rgb(88, 117, 219);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.signup:hover {
  font-size: large;
  background: var(--maincolor);
  color: black;
  transition: all 0.6 ease;
}

/* Address Page CSS */
.addresses {
  margin-left: 20px;
  width: fit-content;
  border: 1px solid lightgrey;
  margin-top: 20px;
}

.addresses>h2 {
  font-weight: bold;
}

.addresses>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



.address-item {
  display: flex;
  margin-bottom: 10px;
  counter-increment: address-counter;
  font-size: 20px;
}

.address-item::before {
  content: counter(address-counter);
  margin-right: 10px;
}

.address-item div {
  margin-left: 20px;
}

.delete-btn {
  color: red;
  cursor: pointer;
}

/* Payment File Css */

.payment-method-new {
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 20px;
  margin-left: 10px;
  border-radius: 10px;
  grid-column: .5;
}

.payment-method-new h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: black;
}

#payment-form-new {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.radio-group-new {
  display: flex;
  align-items: center;
}

.radio-label-new>i {
  margin-left: 10px;
  margin-top: 10px;
}

.radio-group-new .credit {
  margin-left: 50px;
}

.radio-group-new .cash {
  margin-left: 35px;
}



.radio-label-new {
  padding-left: 30px;
  padding-top: 30px;
  font-size: 18px;
  color: #333333;
}

#paypal-fields-new,
#card-fields-new {
  display: none;
}

#paypal-fields-new.visible,
#card-fields-new.visible {
  display: block;
}

#paypal-fields-new label,
#card-fields-new label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 18px;
  color: #333333;
}

#paypal-fields-new input[type="text"],
#paypal-fields-new input[type="password"],
#card-fields-new input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333333;
}

.proceed-button {
  margin-top: 60px !important;
  padding: 10px 20px;
  background: rgb(88, 117, 219);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.proceed-button:hover {
  background-color: var(--maincolor);
  color: black;
  font-size: large;
}

/* Update the existing CSS to use flexbox for both larger and smaller screens */

/* Container */
.container-grid {
  background-color: #f8f9fa;
  display: flex;
  flex-wrap: wrap;
  /* Allow flex items to wrap to a new line when needed */
  gap: 100px;
  box-sizing: border-box;
  min-height: 100px;
  margin-bottom: 20px;
}

/* Payment Div */
.payment-method-new {
  flex: 2;
  /* Take 2 parts out of 3 in the container */
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}






/* Cart page Css */
.Cart {
  border: 1px solid grey;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  /* flex: 0 0 22.33333%; */
  width: 210px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 5px;
}

.Cart-image {
  max-width: 80px;
  border-radius: 20px;
}


.heading {
  display: flex;
}

.heading h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: large;
  margin-left: 6px;
  width: max-content;
  text-overflow: ellipsis;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-btn {
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.quantity {
  font-size: medium;
}

.Cart-detail .price {
  margin: 5px 20px 0px 10px;
  font-weight: 600;
  color: rgb(154, 28, 28);
  transition: all 0.3s ease;
}

.Cart-detail .description {
  text-align: right;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0%;
  font-size: smaller;
}

.delete-cart {
  padding: 2px 10px;
  font-weight: bold;
  width: 110px;
  display: block;
  margin: 0px auto;
  border: none;
  color: #fff !important;
  border-radius: 25px;
  font-size: 18px;
  background-color: rgb(212, 0, 0) !important;
}

.Cart-quantity {
  position: relative;
  margin: 40px 0px 0px 10px;
}







/* Cart Div */
.cart {
  flex: 1;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.paymentcart-footer {
  text-align: left;
  margin-top: 50px;
}

.paymentcart-footer>p {
  font-weight: bold;
}

.paymentcart-footer>p>span {
  font-weight: 500;
  float: right;
}

.place-order {
  padding: 10px 20px;
  font-weight: bold;
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 25px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: rgb(212, 0, 0) !important;
}


.paymentcart-footer button:hover {
  background-color: rgb(255, 203, 0) !important;
  color: black;
  transition: all 0.6s ease;
}

label {
  display: block;
  margin-bottom: 5px;
}

/* Payment Cart */
#cartItems {
  display: flex;
  align-items: center;
}

.payment-image {
  max-width: 150px;
  max-height: 150px;
  padding: 10px;
  margin-top: -20px;
  object-fit: cover;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.payment-detail {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.payment-detail>h4,
.payment-detail>p,
.payment-detail .price {
  margin: 0;
}

.payment-detail>h4 {
  font-weight: bold;
  font-size: 18px;
  margin-left: 150px;
}

.payment-detail>p {
  font-size: 18px;
  margin-left: auto;
  margin-top: 10px;
  width: fit-content;
}

.payment-detail .price {
  font-weight: 600;
  margin-top: 10px;
  color: rgb(154, 28, 28);
  transition: all 0.3s ease;
  margin-left: auto;
}

/* Additional media query for smaller screens */
@media screen and (max-width: 708px) {
  .container-grid {
    flex-direction: column;
  }

  .payment-method-new,
  .cart {
    width: 100%;
    margin: 10px;
    /* Reduce the margin for better spacing */
  }

  .radio-group-new {
    display: flex;
    flex-direction: column;
  }

  .radio-label-new {
    display: flex;
    align-items: center;
    margin-left: 0;
    /* Align labels to the left */
    margin-bottom: 5px;
    /* Add some spacing between radio options */
  }

  .radio-label-new i {
    margin-right: 5px;
    /* Add some spacing between the icon and label */
  }

  #cartItems {
    flex-direction: column;
    align-items: center;
  }

  .payment-image {
    margin-top: 0;
    /* Remove margin-top for the image */
  }

  .payment-detail {
    text-align: center;
    margin-top: 10px;
    /* Add some spacing between image and details */
  }

}




.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  /* Added backdrop-filter property to blur the content behind the overlay */
  z-index: 999;
  /* Ensure the overlay appears on top of other elements */
  transition: all 0.3s ease;
  /* Added smooth transition to all properties */
}


/* Location Overylay Css */
.overlay-location {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  transition: all 0.3s ease;

}

.l-overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.overlay-heading {
  font-size: 20px;
}

.overlay-input {
  width: 100%;
  margin-top: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  padding: 10px 2px 8px 15px;
  background-color: #f8f9fa;
}

.overlay-input:focus {
  outline: none;
}

.overlay-select {
  padding: 8px 20px;
  font-weight: bold;
  width: 100%;
  display: block;
  margin: 15px 0px auto;
  border-radius: 25px;
  font-size: 18px;
  border: none;
  color: black;
  background-color: #fff(212, 0, 0) !important;
}

.overlay-select.valid {
  background-color: rgb(212, 0, 0) !important;
  color: white;
}

.overlay-select:hover {
  cursor: pointer;
  background-color: rgb(255, 203, 0);
  color: white;
}




/* Rate Screen CSS */
.rate-order {
  display: block;
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  background-color: #f9f9f9;
}

.rate-order p {
  font-size: 18px;
}

.stars {
  font-size: 24px;
  margin-bottom: 20px;
}

.star {
  cursor: pointer;
  font-size: 30px;
}

.star.selected {
  color: orange;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

textarea::placeholder {
  color: #aaa;
}



/* Cart checkout button */
/* Add this CSS to style the checkout button */
.checkout a {
  display: block;
  margin: auto;
}

.checkout button,
.change,
.set,
#assignRole {
  background-color: rgb(255, 203, 0);
  display: block;
  margin: auto;
  color: black;
  font-weight: bolder;
  padding: 7px 25px;
  margin-top: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#assignRole {
  padding: 8px 20px !important;
}

.checkout button:hover,
.change:hover,
.set:hover,
#assignRole:hover,
.items button:hover,
.center-wrapper button:hover {
  background-color: rgb(212, 0, 0);
  color: white;
  transition: all 0.5s ease-in;
}

.checkout button:focus,
.change:focus,
.set:focus,
#assignRole:focus {
  outline: none;
}

.checkout button:active {
  background-color: rgb(255, 203, 0);
}



/* User Privileges */
.user .box {
  margin: 0 auto;
  max-width: 1000px;
}


/* Styling for Form Container */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
}

/* Styling for Labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Styling for Dropdowns */
select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}



/* Account */
.account {
  display: flex;
  justify-content: space-between;
}

.account a {
  margin-top: 40px;
  font-weight: bold;
}

.account a:hover {
  color: rgb(255, 203, 4);

}



.driver-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}

.driver-overlay .driver {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;

}




/* Driver Acceptance */

.acceptance-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  display: block;
  margin: auto;
  text-align: center;
  width: 500px;
}

.acceptance-container h2 {
  margin: 0;
  padding-bottom: 10px;
}

.confirmation {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 450px;
}



/* Order Screen */
.order-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 700px;
  display: block;
  margin: auto;
  background-color: #fff;
}

.order {
  display: flex;
  align-items: center;
}

.order-details {
  flex-grow: 1;
}

.order-details h2 {
  margin: 0;
}

.order-details button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#process-btn {
  background-color: #4CAF50;
  color: white;
}

#delivery-btn {
  background-color: #f39c12;
  color: white;
}


/* Menu */
.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.center-wrapper .container {
  text-align: center;
}

/* Style the input field */
.center-wrapper input[type="text"],
.items input[type="text"],
.items input[type="number"] {
  width: 250px;
  padding: 5px 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 15px 30px 20px 20px;
  display: inline-block;
  border-radius: 3px;
  vertical-align: middle;
}

/* Style the submit button */
.items button[type="submit"],
.center-wrapper button[type="submit"] {
  background-color: rgb(255, 203, 0);
  display: inline-block;
  margin: auto;
  color: black;
  font-weight: bolder;
  padding: 7px 30px;
  margin-top: 50px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.items,
.menu {
  border: 1px solid lightgrey;
  border-radius: 12px;
}

.items .box,
.menu .box {
  background-color: #f8f9fa;
}

/* Style the submit button on hover */



.monday {
  line-height: 30px;
}

.social_link i {
  padding-right: 15px;
  padding-left: 12px;

}

.timing .monday {
  margin-top: 13px;
}

.timing .time {
  text-align: center;
  margin-top: -5px;
}

.row .contact i {
  margin-left: 0px;
}

/* Style for the map container */
.map-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the map itself */
#map {
  width: 80%;
  height: 80%;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}