* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Tahoma;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s ease-in; /* Added smooth transition to all properties */
}

body {
  background-color: #f8f9fa;
}

:root {
  --maincolor: rgb(255, 203, 4);
  --body-bg: #fafafb;
  --box-bg: #ffffff;
  --main-color: #0652dd;
  --text-color: #455560;
  --text-second-color: #72849ab3;
  --border-color: #e9e9e9;
  --menu-item-active-bg: rgba(62, 121, 247, 0.1);

  --box-border-radius: 15px;
  --sidebar-size: 300px;
  --sidebar-logo-img-size: 45px;
  --sidebar-logo-size: 80px;
  --profile-image-size: 45px;
  --main-header-height: 80px;
  --shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);
  --darkmode-toggle-size: 20px;
}

.Line {
  border: 0.5px solid var(--maincolor);
  transition: border-color 0.3s ease; /* Added smooth transition to border color */
}
::-webkit-scrollbar {
  width: 1px;
  background-color: rgb(255, 203, 4);
  border-radius: 5px;
  transition: width 0.3s ease; /* Added smooth transition to scrollbar width */
}

section {
  padding: 2rem 7%;
  transition: padding 0.3s ease; /* Added smooth transition to padding */
}

header {
  min-width: 1200px; /* Adjust the value as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--maincolor);
  padding: 10px;
  transition: background-color 0.3s ease; /* Added smooth transition to background color */
}
@media (min-width: 768px) {
  .logo {
    text-align: left;
  }

  .search-container {
    margin-right: 20px;
  }

  .login-icon,
  .cart-container {
    margin: 0;
  }
  .container-fluid
  {
    width: 100vw;
  }
}
.delivery-icon,
.logo,
.icons {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  margin-left: 30px;
  transition: margin 0.3s ease; /* Added smooth transition to margin */
}

.delivery-icon i,
.icons div {
  margin-right: 50px;
  font-size: 20px;
  transition: margin 0.3s ease; /* Added smooth transition to margin */
}
.icons:hover {
  cursor: pointer;
}
.icons div:last-child {
  margin-right: 50px;
  transition: margin 0.3s ease; /* Added smooth transition to margin */
}

/* Search Field */
.search-container {
  display: flex;
  align-items: center;
}

#search-input {
  padding: 7px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  margin-right: -20px;
  background-color: rgb(251, 220, 97);
  flex-grow: 1;
  display: none;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}
#search-input[type="text"] {
  color: black;
}

#search-button {
  background-color: rgb(255, 204, 0);
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.highlighted {
  background-color: rgb(235, 195, 35);
  font-weight: bold;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

/* Slider on home page */
.carousel {
  position: relative;
  border-radius: 10px;
  max-width: 1400px;
  display: block;
  margin: auto;
  min-width: 100px;
  height: 550px; /* Adjust the height as needed */
  overflow: hidden;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.carousel-inner {
  display: flex;
  width: 500%; /* 5 images x 100% width each */
  animation: carousel-animation 30s infinite; /* Adjust the animation duration as needed */
}

.carousel-inner img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

@keyframes carousel-animation {
  0%,
  100% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -200%;
  }
  60% {
    margin-left: -300%;
  }
  80% {
    margin-left: -400%;
  }
}

/* Home Section */
.dashboard {
  height: 100%;
  width: fit-content;
  background-color: #f8f9fa;
}

.dashboard-banner {
  width: 100%;
  height: 460px;
  position: relative;
  margin-top: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.dashboard-banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.banner-promo {
  position: absolute;
  color: lightgray;
  top: 25%;
  left: 10%;
  font-weight: 800;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.banner-promo > h1 > span {
  color: lightgrey;
}

.dashboard-menu {
  display: flex;
  position: sticky;
  top: 0;
  padding: 1rem 1rem;
  padding-top: 20px;
  padding-bottom: 0;
  overflow-x: auto;
  z-index: 100;
  background-color: #f8f9fa;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.dashboard-menu > button {
  text-decoration: none;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 20px;
  display: block;
  margin: 0 40px; /* Adjust the margin value to reduce the space between buttons */
  font-weight: 500;
  min-width: 150px; /* Decrease the minimum width of the buttons */
  padding: 0.5rem 0;
  font-size: 0.9rem;
  color: black;
  background-color: #f8f9fa;
  margin-bottom: 20px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.dashboard-menu > button.active,
.dashboard-menu > button:hover {
  font-weight: bold;
  background-color: rgb(255, 203, 4);
  color: #000;
}

/* Card Items */
.dashboard-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-left: 30px;
  margin-right: 100px;
  grid-gap: 20px; /* Add the desired space between cards */
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}
.dashboard-content .row .col-lg-2 {
  flex: 0 0 calc(50% - 20px);
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media (max-width: 768px) {
  .dashboard-content .row .col-lg-2 {
    flex: 0 0 calc(50% - 20px);
    margin-left: 10px;
  }
 
}

.dashboard-card {
  width: 110%;
  margin-left: 10px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.3s ease;
}


/* Media Query for Dashboard Card Items */
@media (max-width: 767px) {
  .food-item {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-2 {
    margin-right: 20px;
    margin-top: 13px;
    padding-right: 35px;
  }
  .col-lg-2:last-child {
    margin-right: 0;
  }
  .dashboard-card .card-image {
    height: 180px;
  }
}

@media (min-width: 768px) {
  .col-lg-2 {
    margin-right: 20px;
    margin-top: 13px;
    padding-right: 15px;
  }
  .dashboard-card {
    width: 100%;
  }
  .dashboard-card .card-image {
    height: 180px;
  }
  .col-lg-2:last-child {
    margin-right: 0;
  }
}
.dashboard-card:hover {
  border: 2px solid var(--maincolor);
}

.card-image {
  width: 100%;
  height: 140px;
  padding: 10px;
  object-fit: cover;
  border-radius: 15px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}
.card-detail {
  position: relative;
  padding: 10px;
  height: 220px; /* Adjust the height as needed */
  overflow: auto;
}
.card-detail > h4 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
}
.card-detail p,
h4 {
  text-align: center;
  margin: 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}
.card-detail hr {
  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
}

.card-detail > p {
  font-weight: 500;
  margin-bottom: 2em;
  font-size: 12px;
  margin-top: 8px;
  color: #000;
}
.card-detail .price {
  text-align: center;
  margin: auto;
  font-weight: 600;
  color: rgb(154, 28, 28);
  margin-top: 5px;
  margin-bottom: 10px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
  position: absolute;
  margin-top: 20px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.card-time {
  color: darkgrey;
  font-size: 0.8rem;
  padding-top: 5px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

#B,
#p,
#d,
#b {
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 30px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

/* Card items Ended */

/* Add to Cart Button */
.btn.add-to-cart-btn {
  position: absolute;
  margin-top: -150px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 8px;
  background-color: red;
  text-decoration: none;
  width: 120px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
  bottom: calc(1% + 10px);
  top: unset;
}

.btn.add-to-cart-btn:hover {
  background-color: var(--maincolor);
  color: black;
  font-weight: 800;
}

.btn.add-to-cart-btn:focus {
  outline: none;
}

.btn.add-to-cart-btn:active {
  background-color: #f3f85e;
}

/*   Cart Icon Container Code */
.cart-container {
  position: relative;
}

.cart-icon {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.cart-icon::after {
  content: attr(data-count);
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Side Cart */

.side-cart {
  position: fixed;
  bottom: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  width: 350px;
  overflow-y: scroll;
  height: 100%;
  background-color: rgb(255, 255, 255);
  transition: right 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.side-cart > h4 {
  position: absolute;
  font-weight: 600;
  top: 10px;
  left: -7px;
  margin-left: 30px;
  justify-content: center;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.side-cart > span {
  position: absolute;
  top: 10px;
  right: 10px;
  justify-content: center;
  font-size: 18px;
  color: var(--maincolor);
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.side-cart .dashboard-card {
  display: flex;
  top: 50px;
  position: absolute;
  width: 250px;
  align-items: center;
  margin-top: 5px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}
.side-cart .dashboard-card:hover {
  border: 1px solid lightgrey;
}

.cart-items {
  height: 250px;
  overflow-y: auto;
  padding-bottom: 60px; /* Add space for the footer */
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.side-cart .dashboard-card .quantity{
  position: absolute;
  margin-top: 70px;
  margin-left: 25px;
  font-weight: 600;
  
}
.side-cart .dashboard-card .plus-btn {
  position: absolute;
  top: 104px;
  right: 130px;
  background-color: #f44336;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.side-cart .dashboard-card .plus-btn:hover {
  background-color: #c62828;
}
.side-cart .dashboard-card .minus-btn {
  position: absolute;
  top: 105px;
  right: 68px;
  background-color: #f44336;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;

}
.side-cart .dashboard-card hr{
  display: none;
}
.side-cart .dashboard-card .minus-btn:hover {
  background-color: #c62828;
}
.side-cart .dashboard-card .card-image{
  max-width: 110px;
  height: 110px;
  margin-top: -100px;
}
.side-cart .dashboard-card .card-detail > h4 {
  font-size: 18px !important;
  margin-top: -10px;
}
.side-cart .dashboard-card .card-detail p {
  font-size: 12px;
}
.side-cart .dashboard-card .card-detail span.price {
  top: 10px;
  margin-left: -20PX;
  font-size: large;
}


.side-cart .dashboard-card .card-detail .delete-from-cart-btn {
  color: red;
  position: absolute;
  left: 210px;
  top: 170px;
  border: none;
  border-radius: 50%;
  width: 30px;
  font-size: 25px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

 .delete-from-cart-btn
{
  color: red;
  position: absolute;
  left: 235px;
  top: 107px;
  border: none;
  border-radius: 50%;
  width: 30px;
  font-size: 25px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hint-text {
  display: block;
  font-size: 18px;
  text-align: center;
  margin-top: 90%;
  color: grey;
  margin-bottom: 10px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

/* Cart Footer */
.cart-footer {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 300px;
  margin: auto;
  margin-top: auto;
  border: 1px solid lightgrey;
  background-color: #f8f8f8;
  align-items: flex-start; /* Align the text to the left side */
  bottom: 0;
  padding: 10px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.cart-footer > .tag {
  font-size: 20px;
  display: inline-block;
  margin-right: auto;
  margin-top: -4px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.cart-footer > .fee {
  font-size: 20px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: -30px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.cart-footer a {
  display: block;
  margin: auto;
}
.cart-footer > a > .checkout-btn {
  background-color: rgb(255, 203, 4) !important;
  color: black;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.cart-footer a.checkout-btn:hover {
  background-color: rgb(147, 137, 0);
  color: white;
}

#totalPrice {
  font-weight: bold;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

@media only screen and (min-width: 768px) {
  .side-cart {
    width: 300px;
  }
}

/* Question Answer Section */
.questions {
  max-width: 1150px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--maincolor);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.questions > h2 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  transition: all 0.3s ease;
}

.section {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.question {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px 0px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.question > span {
  float: right;
  transition: all 0.3s ease;
}

.answer {
  background-color: black;
  color: white;
  padding: 10px;
  transition: all 0.3s ease;
  display: none;
}

/* Added media query for responsiveness */
@media screen and (max-width: 768px) {
  .questions > h2 {
    font-size: 30px;
  }

  .section {
    max-width: 500px;
  }
}


/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(
    8px
  ); /* Added backdrop-filter property to blur the content behind the overlay */
  z-index: 999; /* Ensure the overlay appears on top of other elements */
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

/* Login Signup */

.login-container {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
  max-width: 400px;
  width: 90%; /* Set the width to 90% to center-align the container */
  position: relative;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  border: none;
  width: 31px;
  border-radius: 10px;
  color: white;
  background-color: grey;
  cursor: pointer;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

/* Hr Line */
.hr-container {
  display: flex;
  align-items: center;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.left-hr,
.right-hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #000;
  margin: 0 10px;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
}

.or-text {
  font-weight: bold;
  transition: all 0.3s ease; /* Added smooth transition to all properties */
  color: #999;
}


/* Buttons */
.login-button,.signup-button
{
    display: inline-block;
    padding: 10px 70px;
    background:rgb(212, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    
}
.login-button:hover,.signup-button:hover{
  background-color: var(--maincolor);
  color: black;
  font-size: larger;
  transition: all 0.7s ease;
  text-decoration: none;
}





/* Sign up Form */
h1 {
  text-align: center;
  font-weight: bold;
  padding: 20px 0px 0px 0px;
}

.container {
  background-color: #f8f9fa;
  box-shadow: 22px 22px 22px lightgrey;
}

.signup-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.signup-form {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group .input-group {
  display: flex;
}

.form-group .input-group .otp {
  margin-left: 364px;
  margin-top: -42px;
  height: 40px;
  background: rgb(88, 117, 219);
  width: 18%;

  border: none;
  border-radius: 5px;
  font-size: medium;
  font-weight: 200;
}
.signup-image {
  flex: 1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-image img {
  max-width: 60%;
  max-height: 60%;
  margin-top: -110px;
  border-radius: 15px;
}
.signin-image{
  flex: 1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin-image img
{
  max-width: 70%;
  max-height: 70%;
  margin-top: -70px;
  border-radius: 15px;

}
.form-group {
  margin-bottom: 15px;
  margin-left: 30px;
  position: relative;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="tel"],
.form-group input[type="number"]
 {
  width: 90%;
  padding: 8px 8px 8px 50px;
  background-color:  #f8f9fa;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
}

.form-group i {
  position: absolute;
  padding-left: 10px;
  top: 8px;
  left: 10px;
  color: black;
}

.form-group input:focus {
  outline: none;
  border-color: #4caf50;
}
.form-group label {
  margin-left: 20px;
  margin-top: -25px;
}
.signup {
  display: block;
  margin-left: 30px;
  width: 26%;
  padding: 10px;
  margin-top: 30px;
  border: none;
  background: rgb(88, 117, 219);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.signup:hover {
  font-size: large;
  background: var(--maincolor);
  color: black;
  transition: all 0.6 ease;
}







/* 
@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
} */

/* Address Page CSS */
/* Address Page CSS */
.addresses {
  margin-left: 20px;
  width: fit-content;
  border: 1px solid lightgrey;
  margin-top: 20px;
}

.addresses > h2 {
  font-weight: bold;
}

.addresses > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.address-item {
  display: flex;
  margin-bottom: 10px;
  counter-increment: address-counter;
  font-size: 20px;
}

.address-item::before {
  content: counter(address-counter);
  margin-right: 10px;
}

.address-item div {
  margin-left: 20px;
}

.delete-btn {
  color: red;
  cursor: pointer;
}

/* Payment File Css */




.payment-method-new {
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 20px;
  margin-left: 10px;
  border-radius: 10px;
  grid-column: .5;
}

.payment-method-new h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: black;
}

#payment-form-new {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.radio-group-new {
  display: flex;
  align-items: center;
}
.radio-label-new>i
{
  margin-left: 10px;
  margin-top: 10px;
}
.radio-group-new .credit
{
  margin-left: 50px;
}
.radio-group-new .cash{
  margin-left: 35px;
}



.radio-label-new  {
padding-left: 30px;  
padding-top: 30px;
  font-size: 18px;
  color: #333333;
}

#paypal-fields-new,
#card-fields-new {
  display: none;
}

#paypal-fields-new.visible,
#card-fields-new.visible {
  display: block;
}

#paypal-fields-new label,
#card-fields-new label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 18px;
  color: #333333;
}

#paypal-fields-new input[type="text"],
#paypal-fields-new input[type="password"],
#card-fields-new input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333333;
}

.proceed-button {
  margin-top: 60px !important;
  padding: 10px 20px;
  background: rgb(88, 117, 219);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.proceed-button:hover {
  background-color: var(--maincolor);
  color: black;
  font-size: large;
}

.container-grid {
  background-color: #f8f9fa;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 150px;
  box-sizing: border-box;
  min-height: 100px;
  margin-bottom:20px;
}

.cart {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 20px 20px 20px 20px;
  grid-column: 2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.paymentcart-footer{
  text-align: left; 
  margin-top: 50px;
}

.paymentcart-footer>p{
  font-weight: bold;
}
.paymentcart-footer>p>span{
  font-weight: 500;
  float: right;
}
.place-order
{
  padding: 10px 20px; 
  font-weight: bold; 
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 25px; 
  margin-bottom: 10px;
  font-size: 18px;
  background-color: rgb(212, 0, 0) !important;

}
.paymentcart-footer button:hover{
  background-color: rgb(255, 203, 0) !important;
  color: black;
  transition: all 0.6s ease;
}
label {
  display: block;
  margin-bottom: 5px;
}

/* Payment Cart */
#cartItems {
  display: flex;
  align-items: center; /* Align items vertically */
}

.payment-image {
  max-width: 150px;
  max-height: 150px;
  padding: 10px;
  margin-top: -20px;
  object-fit: cover;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.payment-detail {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.payment-detail > h4,
.payment-detail > p,
.payment-detail .price {
  margin: 0;
}

.payment-detail > h4 {
  font-weight: bold;
  font-size: 18px;
  margin-left: 150px; /* Move to the right side */
}

.payment-detail > p {
  font-size: 18px;
  margin-left: auto; /* Move to the right side */
  margin-top: 10px;
}

.payment-detail .price {
  font-weight: 600;
  margin-top: 10px;
  color: rgb(154, 28, 28);
  transition: all 0.3s ease;
  margin-left: auto; /* Move to the right side */
}


@media screen and (max-width: 1180px) {
  .container-grid{
    margin-left: 20px;
    width: 1100px;
  }
}
/* Payment Method End */



/* Footer */
footer {
  background-color:  #f8f9fa;
  padding: 20px;
  text-align: center;
  border: 2px solid rgb(243, 243, 243);
  box-shadow: 1px 1px 1px 1px rgb(210, 209, 209);
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px; /* Adjust the value as per your preference */
  box-sizing: border-box;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 700px; /* Same value as footer max-width */
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.contact p{
  width: max-content;
}

.contact,
.timing,
.follow-us {
  flex: 1;
  padding: 40px;
}

.line{
  height: 1.5px;
  background-color: black;
}
.copyright span{
  text-decoration: underline;
  font-weight: bolder;
}

.follow-us {
  text-align: right;
  margin-top: -70px;
}
.timing{
  margin-top: -30px;
}

.social-icons a {
  margin-left: 5px;
  color: #000;
  text-decoration: none;
}

.social-icons a:hover {
  color: #555;
}

@media screen and (max-width: 1200px) {
  footer {
    min-width: auto;
    max-width:85%; /* Resetting the max-width for smaller screens */
    margin-left: 120px;
  }
  .contact,
  .timing,
  .follow-us{
    font-size: 15px;
  }
  .follow-us{
    margin-top: -70px;
    margin-right: 50px;
  }
  .social-icons a{
    
    margin-right: 20px;
  }

  .questions{
    margin-left: 150px;
    width: 80%;
  }
}

@media screen and (max-width: 980px) {
  footer {
    width:1000px; /* Resetting the max-width for smaller screens */
    margin-left: 230px;
  }
  .contact,
  .timing,
  .follow-us{
    font-size: 15px;
  }
  .follow-us{
    margin-top: -70px;
    margin-right: 50px;
  }
  .social-icons a{
    
    margin-right: 20px;
  }

  .questions{
    margin-left: 200px;
    width: 90%;
  }
  .section{
    width: 600px;
  }
}





@media screen and (max-width: 767px) {
  footer {
    width: 1200px; /* Resetting the max-width for smaller screens */
    margin-left: 300px;
  }
  
  .contact,
  .timing,
  .follow-us{
    font-size: 13px;
  } 
  .footer-content h3{
    font-size: 15px;
    font-weight: bold;
  }
  .follow-us{
    margin-top: -80px;
    margin-right: 10px;

  }
  .social-icons a{
    
    margin-right: 5px;
  }
  .questions{
    width: 700px;

    margin-left: 300px;
  }

}

 @media screen and (max-width: 579px) {
  footer {
    width: 1400px; 
  }
  .contact,
  .timing,
  .follow-us{
    font-size: 13px;
  } 
  .footer-content h3{
    font-size: 15px;
    font-weight: bold;
  }
  .follow-us{
    margin-top: -110px;
    margin-right: -10px;

  }
  .questions{
    width: 700px;
  }
  .section{
    width: 600px;
  }
  
} 




/* Dashboard CSS */

.dark {
  --body-bg: #1a191f;
  --box-bg: #1a191f;
  --border-color: #222028;
  --text-color: #b9b9b9;
}

a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

.sidebar {
  background-color: var(--box-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-size);
  height: 100vh;
  box-shadow: var(--shadow);
  overflow-y: auto;
}

.dark .sidebar {
  border-right: 2px solid var(--border-color);
}

.sidebar-logo {
  height: var(--sidebar-logo-size);
  position: relative;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-logo img {
  height: var(--sidebar-logo-img-size);
  max-width: 100%;
}

.sidebar-close {
  display: none;
}

.sidebar-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.sidebar-user-info {
  display: flex;
  align-items: center;
}

.sidebar-user-name {
  margin-left: 10px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
}

.profile-image {
  width: var(--profile-image-size);
  height: var(--profile-image-size);
  border-radius: 10px;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  color: var(--main-color);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.btn i {
  font-size: 1.25rem;
}

.btn-outline {
  border: 2px solid var(--main-color);
  transition: background-color 0.2s ease-in-out;
}

.btn-outline:hover {
  background-color: var(--main-color);
  color: #fff;
}

.sidebar-menu {
  padding: 10px 0;
  list-style-type: none;
}

.sidebar-menu > li > a {
  width: 100%;
  padding: 15px;
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: color 0.2s ease-in-out;
}

.sidebar-menu > li > a.active {
  background-color: var(--menu-item-active-bg);
  color: var(--main-color);
  border-right: 4px solid var(--main-color);
}

.sidebar-menu > li > a:hover {
  color: var(--main-color);
}

.sidebar-menu > li > a > i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.sidebar-menu-dropdown {
  position: relative;
}

.sidebar-menu-dropdown .dropdown-icon {
  position: absolute;
  right: 15px;
}

.dropdown-icon {
  --size: 15px;
  --color: var(--text-color);
  height: var(--size);
  width: var(--size);
  position: relative;
  cursor: pointer;
}

.dropdown-icon::after,
.dropdown-icon::before {
  --height: 2px;
  content: "";
  width: 50%;
  height: var(--height);
  border-radius: 2.5px;
  position: absolute;
  top: calc(50% - var(--height) / 2);
  background-color: var(--color);
  transition: transform 0.3s ease;
}

.dropdown-icon::before {
  left: calc(50% - var(--height) / 3);
  transform-origin: center left;
  transform: rotate(-45deg);
}

.dropdown-icon::after {
  right: calc(50% - var(--height) / 3);
  transform-origin: right;
  transform: rotate(45deg);
}

.dropdown-icon.active::before {
  transform: rotate(45deg);
}

.dropdown-icon.active::after {
  transform: rotate(-45deg);
}

.sidebar-menu > li > a:hover > .dropdown-icon {
  --color: var(--main-color);
}

.sidebar-menu-dropdown-content {
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.25s ease-in-out;
}

.sidebar-menu-dropdown-content > li > a {
  padding-left: 50px;
}

.darkmode-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.darkmode-switch {
  --height: var(--darkmode-toggle-size);
  --width: calc(var(--height) * 2);
  height: var(--height);
  width: var(--width);
  border-radius: calc(var(--height) / 2);
  background-color: #f5f6fa;
  position: relative;
}

.darkmode-switch::before {
  content: "";
  --height: 20px;
  --main-color: #0652dd;
  width: var(--height);
  height: var(--height);
  position: absolute;
  left: 0;
  border-radius: 50%;
  background-color: var(--main-color);
  transition: left 0.3s ease-in-out;
}

.darkmode-switch.active::before {
  left: 50%;
}

.main {
  padding-left: var(--sidebar-size);
}

.main-header {
  height: var(--main-header-height);
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--box-bg);
  box-shadow: var(--shadow);
}

.dark .main-header {
  border-bottom: 2px solid var(--border-color);
}

.mobile-toggle {
  display: none;
}

.main-title {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.main-content {
  padding: 20px;
}

.box {
  background-color: var(--box-bg);
  padding: 20px;
  border: 0.5px solid var(--border-color);
  border-radius: var(--box-border-radius);
}

.box-hover:hover {
  border-color: var(--main-color);
}

.counter-title {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.counter-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 700;
}

.counter-info i {
  color: var(--main-color);
}

.box-header {
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 700;
}

.box-body {
  padding: 20px 0;
}

.product-list {
  list-style-type: none;
}

.product-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.item-info {
  display: flex;
  align-items: center;
}

.item-info img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

.product-name,
.product-sales {
  font-weight: 600;
  text-transform: capitalize;
}

.product-name {
  margin-bottom: 5px;
}

.product-sales {
  margin-top: 5px;
}

.text-second {
  color: var(--text-second-color);
}

.item-sale-info {
  text-align: right;
}

.f-height {
  height: 100%;
}

table {
  width: 100%;
  min-width: 1000px;
}

.order-owner {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: 500;
}

.order-owner img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

table thead tr {
  text-align: left;
}

table th,
table td {
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

.order-status {
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 500;
}

.order-ready {
  color: #2a59d1;
  background-color: rgba(62, 121, 247, 0.1);
}

.order-shipped {
  color: #00ab6f;
  background-color: rgba(4, 209, 130, 0.1);
}

.payment-status {
  display: flex;
  align-items: center;
}

.payment-status .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.payment-paid .dot {
  background-color: #04d182;
}

.payment-pending .dot {
  background-color: #ffc542;
}

.overflow-scroll {
  overflow-y: auto;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.overlay.active {
  display: block;
}

@media only screen and (max-width: 1280px) {
  .sidebar {
      transition: transform 0.3s ease-in-out;
      max-width: 100%;
      z-index: 99;
      transform: translateX(-100%);
  }

  .sidebar.active {
      transform: translateX(0);
  }

  .main {
      padding-left: 0;
  }

  .mobile-toggle,
  .sidebar-close {
      display: grid;
      place-items: center;
      font-size: 2rem;
      margin-right: 30px;
      cursor: pointer;
  }

  .sidebar-close {
      position: absolute;
      right: -15px;
  }
}




.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

[class*="col-"] {
  padding: 0 15px;
  margin-bottom: 20px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* MEDIUM SCREEN */

@media only screen and (max-width: 1280px) {
  .col-md-1 {
      width: 8.33%;
  }

  .col-md-2 {
      width: 16.66%;
  }

  .col-md-3 {
      width: 25%;
  }

  .col-md-4 {
      width: 33.33%;
  }

  .col-md-5 {
      width: 41.66%;
  }

  .col-md-6 {
      width: 50%;
  }

  .col-md-7 {
      width: 58.33%;
  }

  .col-md-8 {
      width: 66.66%;
  }

  .col-md-9 {
      width: 75%;
  }

  .col-md-10 {
      width: 83.33%;
  }

  .col-md-11 {
      width: 91.66%;
  }

  .col-md-12 {
      width: 100%;
  }
}

/* SMALL SCREEN */

@media only screen and (max-width: 850px) {
  .col-sm-1 {
      width: 8.33%;
  }

  .col-sm-2 {
      width: 16.66%;
  }

  .col-sm-3 {
      width: 25%;
  }

  .col-sm-4 {
      width: 33.33%;
  }

  .col-sm-5 {
      width: 41.66%;
  }

  .col-sm-6 {
      width: 50%;
  }

  .col-sm-7 {
      width: 58.33%;
  }

  .col-sm-8 {
      width: 66.66%;
  }

  .col-sm-9 {
      width: 75%;
  }

  .col-sm-10 {
      width: 83.33%;
  }

  .col-sm-11 {
      width: 91.66%;
  }

  .col-sm-12 {
      width: 100%;
  }
}














.driver-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}

.driver-overlay .driver {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;

  }


