RewriteEngine On

# Redirect requests to specific files on tm-ha.com
RewriteCond %{HTTP_HOST} ^tm-ha\.com$ [NC]
RewriteRule ^(admin|driver|dadmin|daccept|dlocation|dlogin|driver|menu|oshipping|oscreen|privilege)\.html$ / [R=403,L]

# Redirect requests to specific files on admin.tm-ha.com
RewriteCond %{HTTP_HOST} ^admin\.tm-ha\.com$ [NC]
RewriteRule ^(index|driver|daccept|dlocation|dlogin|driver|address|cart|checkout|clogin|cisgnup|payment|pastorder|ostatus|profile|verify)\.html$ / [R=403,L]

# Redirect requests to specific files on drivers.tm-ha.com
RewriteCond %{HTTP_HOST} ^drivers\.tm-ha\.com$ [NC]
RewriteRule ^(index|admin|dadmin|menu|oscreen|oshipping|privilege|ostatus|profile|verify|checkout|address|cart|clogin|cisgnup|payment|pastorder)\.html$ / [R=403,L]
